
<!DOCTYPE html>
<html>
  <head>
  <style>

  body {
	background: #fff url("https://93e2469bdb6485cef6e7-436102ebd5bdd0628caf83514bef760c.ssl.cf2.rackcdn.com/b7abc3723bc93346d0c251ba9535c7fe-220be7c03d2352bbb6b8311145cb7f0f.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  </style>
  </head>
  <body>
    <h1> Welcome, <%= current_user.name %>! </h1>
  </body>
  </html>
