<!DOCTYPE html>
<html>
  <head>
  <style>

  body {
	background: #fff url("https://93e2469bdb6485cef6e7-436102ebd5bdd0628caf83514bef760c.ssl.cf2.rackcdn.com/1d0e4f090220d3896f914fc57e47ee16-b081388c033ff599dad7b0211e045e6b.jpg") no-repeat center center fixed;
  }

  </style>
  </head>
  <body>
  </body>
  </html>
