<html>
  <head>
  <style>

  body {
  background: #fff url("https://93e2469bdb6485cef6e7-436102ebd5bdd0628caf83514bef760c.ssl.cf2.rackcdn.com/3b019c97d227baf7863641912db509c2-54bcb4445f4ac66bc7aeef92ed6328b4.jpg") no-repeat center center fixed;
  }

  </style>
  </head>
<h1> Categories: </h1>

<% @categories.each do |category| %>
 <p>
  <button type="button" class="btn btn-success"><%= link_to category.name, category_path(category) %></button>
  <button type="button" class="btn btn-warning"><%= link_to "Edit", edit_category_path(category) %></button>
  <button type="button" class="btn btn-danger"><%= link_to "Delete", category_path(category), method:
  :delete %> </button></br>
</p>
  <% end %></br></br>

<button type="button" class= "btn btn-primary"><%= link_to "Create A Category", new_category_path %></button>
</html>
